###############################################################################
# HDL Simulation Outputs (Recursive search)
###############################################################################
# Ignore simulation dirs anywhere in 10_sim
10_sim/**/obj_dir/
10_sim/**/xcelium.d/
10_sim/**/waves.shm/
10_sim/**/.simvision/
10_sim/**/csrc/
10_sim/**/simv.daidir/

# File extensions
*.vcd
*.fsdb
*.vpd
*.wlf
*.log
*.history
*.key
*.ts
*.o
*.d

###############################################################################
# Quartus FPGA Build Artifacts (Recursive search)
###############################################################################
# Ignore heavy DB folders anywhere in 20_syn
20_syn/**/db/
20_syn/**/incremental_db/
20_syn/**/output_files/
20_syn/**/simulation/
20_syn/**/greybox_tmp/

# Quartus specific files
*.qws
*.qmsg
*.rpt
*.summary
*.smsg
*.pin
*.sof
*.pof
*.done
*.jdi
*.sld
*.sopcinfo

###############################################################################
# OS & Editor files
###############################################################################
.DS_Store
Thumbs.db
.vscode/
.history/
*.bak
__pycache__/
*.pyc
*.drawio.bkp

###############################################################################
# Documents (Optional - Comment out if you want to track these)
###############################################################################
*.onetoc2
*.one